@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Circular";
	src: url("/fonts/Circular/CircularStd-Book.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "Circular", sans-serif;
}

::-webkit-scrollbar {
	@apply w-[6px] h-[6px];
}
::-webkit-scrollbar-thumb {
	@apply bg-blue-700 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
	@apply bg-blue-800;
}
